{% extends "layout.html" %}

{% block head %}
{{ super() }}
{% endblock %}

{% block main %}


<div class="row">
    {% if cameraStatus == '1' %}
        <div class="col-md-6 text-center">
            <form role="form" name="feedbuttonclick" method="post" action="/feedbuttonclick">
                <button class="btn btn-lg feedButton" type="submit">Feed Now</button>
            </form>
        </div>

        <!-- <div class="col-md-6 text-center">
            <br>
            <form role="form" action="{{cameraSiteAddress}}">
                <button class="btn btn-lg camButton" type="submit">Live Video</button>
            </form>
        </div> -->
    {% else %}
        <div class="col-md-12 text-center">
            <form role="form" name="feedbuttonclick" method="post" action="/feedbuttonclick">
                <button class="btn btn-lg feedButton" type="submit">Feed Now</button>
            </form>
        </div>
    {% endif %}
</div>

<br>

<div class="row">
    <div class="col-md-6">
        <table class="FeedTable table">
            <thead>
            <th>Latest Feed Times</th>
            <th>Feed Source</th>
            </thead>
            <tbody>
            {% for entry in latestXNumberFeedTimes %}
            <tr>
                <td>{{entry[0]}}</td>
                <td>{{entry[1]}}</td>
            </tr>
            {% endfor %}
            </tbody>
        </table>

        {% if cameraStatus == '1' %}
            <div>
                <form name="myForm" method="post">
                    <table class="table" id="upcomingFeedTimesTable">
                        <thead>
                        <tr>
                            <th>Scheduled Times</th>
                            <th>Delete Time</th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for entry in upcomingXNumberFeedTimes %}
                        <tr>
                            <td>{{entry}}</td>
                            <td class="text-center">
                                <input class="btn-sm btn-danger" type="button" value="Delete" onclick="deleteRow(this)"/>
                            </td>
                        </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </form>
                <div>
                    <h4>Schedule a Feed Time</h4>
                    <form role="form" name="scheduleDatetime" method="post" action="/scheduleDatetime">
                        <input type="date" name="scheduleDatetime">
                        <input type="time" name="scheduleTime">
                        <input style="margin-top: 5px" class="btn btn-primary" type="submit" value="Schedule One Time Feed">
                    </form>
                </div>
                <br>
                <div>
                    <form role="form" name="scheduleRepeatingDatetime" method="post" action="/scheduleRepeatingDatetime">
                        <input type="text" name="scheduleRepeatingDate" value="Daily" size="17" readonly>
                        <input type="time" name="scheduleRepeatingTime">
                        <input style="margin-top: 5px" class="btn btn-primary" type="submit" value="Schedule Repeating Daily Feed">
                    </form>
                </div>
                <br>
            </div>
        {% else %}

        {% endif %}
    </div>



    <div class="col-md-6" >
        {% if cameraStatus == '1' %}
        <div id="OtherLinks">
            <a href="/history" class="btn btn-primary btn-space">History</a>
            <a href="/logout" class="btn btn-primary btn-space">Logout</a>
        </div>
            <!-- <table class="FeedTable table">
                <thead>
                <th>Latest Videos</th>
                <th>Size</th>
                </thead>
                <tbody>
                {% for entry in latestXVideoFeedTimes %}
                <tr>
                    <td><a href="{{ url_for('video_page', videoid=entry[1] ) }}">{{entry[0]}}</a></td>
                    <td>{{entry[2]}} MB</td>
                </tr>
                {% endfor %}
                </tbody>
            </table> -->
        {% else %}
            <div>
                <form name="myForm" method="post">
                    <table class="table" id="upcomingFeedTimesTable">
                        <thead>
                        <tr>
                            <th>Scheduled Times</th>
                            <th>Delete Time</th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for entry in upcomingXNumberFeedTimes %}
                        <tr>
                            <td>{{entry}}</td>
                            <td class="text-center">
                                <input class="btn-sm btn-danger" type="button" value="Delete" onclick="deleteRow(this)"/>
                            </td>
                        </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </form>
                <div>
                    <h4>Schedule a Feed Time</h4>
                    <form role="form" name="scheduleDatetime" method="post" action="/scheduleDatetime">
                        <input type="date" name="scheduleDatetime">
                        <input type="time" name="scheduleTime">
                        <input style="margin-top: 5px" class="btn btn-primary" type="submit" value="Schedule One Time Feed">
                    </form>
                    <br>
                    <div>
                        <form role="form" name="scheduleRepeatingDatetime" method="post" action="/scheduleRepeatingDatetime">
                            <input type="text" name="scheduleRepeatingDate" value="Daily" size="17" readonly>
                            <input type="time" name="scheduleRepeatingTime">
                            <input style="margin-top: 5px" class="btn btn-primary" type="submit" value="Schedule Repeating Daily Feed">
                        </form>
                    </div>
                    <br>
                </div>
            </div>
        {% endif %}
    </div>


</div>


<script>
    function deleteRow(btn){
        var table=document.getElementById('upcomingFeedTimesTable');
        var i=btn.parentNode.parentNode.rowIndex;
        var cellVal=table.rows[i].cells[0].innerHTML;
        document.myForm.action = "{{url_for('deleteRow',history='cellVal')}}".replace('cellVal',cellVal)
        document.myForm.submit();
    }
</script>

{% endblock %}